[submodule "cprogs/xkeyboard"]
	path = cprogs/xkeyboard
	url = https://github.com/kyx0r/xkeyboard.git
[submodule "cprogs/neatvi"]
	path = cprogs/neatvi
	url = https://github.com/kyx0r/neatvi.git
[submodule "cprogs/dmenu"]
	path = cprogs/dmenu
	url = https://github.com/Francesco149/dmenu.git
